# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.sfdx/
sandbox/*

# Environment variables
.env*

# Project specific
scratch*
backend/app.yaml
lint-results.json
frontend/public/themes/custom*
frontend/src/pages/custom*
frontend/src/banner/custom*
frontend/src/components/custom*
frontend/src/icons/custom*
frontend/public/fonts/custom*
frontend/public/config/custom*
frontend/public/sampleData/custom*
